<!DOCTYPE html>
<html>
<head>
<title>Add Product</title>
</head>
<body>

<h1>Add Product</h1>

<form action="/add" method="POST">

Name:
<input type="text" name="name"><br><br>

Price:
<input type="number" name="price"><br><br>

Image URL:
<input type="text" name="url_image"><br><br>

<button type="submit">Add</button>

</form>

<a href="/">Back</a>

</body>
</html>