<h2>Thêm sự kiện</h2>
<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
  <div style="color: red;">
    <ul>
      <% errors.forEach(function(err) { %>
        <li><%= err %></li>
      <% }); %>
    </ul>
  </div>
<% } %>
<form action="/add" method="POST" enctype="multipart/form-data">
  <input type="text" name="ticketID" placeholder="Mã vé">
  <input type="text" name="eventName" placeholder="Tên sự kiện">
  <input type="number" name="price" placeholder="Giá vé">
  <input type="number" name="quantity" placeholder="Số lượng">
  <input type="file" name="image">
  <button type="submit">Thêm</button>
</form>
<br>
<a href="/">Quay lại</a>